@import "base.css";

@import "container_mainPage.css";
@import "content_mainPage.css";
@import "header_mainPage.css";
@import "footer_mainPage.css";
@import "nav_mainPage.css";

@import "navbar.css";
@import "card.css";
