body {
  line-height: 1.6;
  /* font-family: "Varela Round", sans-serif; */
  font-family: "Open Sans", sans-serif;
}

em {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: bold;
}

h1 {
  font-size: xx-large;
}

.whitetext {
  color: white;
}
