body {
  /*base font size*/
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

em {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: bold;
}

/* styling the site header */
h1 {
  font-size: 4.5rem;
  text-shadow: 0 0 5px white;
  color: orange;
}
.whitetext {
  color: white;
}
.c_alt1 {
  color: orangered;
}
.c_alt2 {
  color: darkslategray;
}
header {
  text-align: center;
}

/*teal
darkslategray*/
