.infoandcontact {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.authorinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  display: flex;
  flex-direction: column;
}

.share {
  display: flex;
  flex-direction: column;
}

.share-icon {
  width: 30px;
  height: 30px;
  margin: 0.75rem 0rem;
}

.share-btns {
  display: flex;
  flex-direction: row;
  /*Set column-gap to icon-Width/2*/
  column-gap: 15px;
}
