@import "base.css";
@import "navbar.css";

@import "container_blogPage.css";
@import "blogAside.css";

div {
  display: block;
}

.blog-author {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: nowrap;
  align-items: center;
}

.author-img {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  border-radius: 50%;
}
