@media (max-width: 320px) {
  #blogpost1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "txt1 txt1 txt1 txt1"
      "cap2 cap2 cap2 cap2"
      "tx2a tx2a tx2a tx2a"
      "tx2b tx2b tx2b tx2b"
      "ifi2 ifi2 ifi2 ifi2"
      "fi2a fi2a fi2a fi2a"
      "fi2b fi2b fi2b fi2b"
      "fi2c fi2c fi2c fi2c"
      "fi2d fi2d fi2d fi2d"
      "tx2c tx2c tx2c tx2c"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3a fi3a fi3a"
      "fi3b fi3b fi3b fi3b";
  }
}
@media (min-width: 321px) and (max-width: 600px) {
  #blogpost1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "txt1 txt1 txt1 txt1"
      "cap2 cap2 cap2 cap2"
      "tx2a tx2a tx2a tx2a"
      "tx2b tx2b tx2b tx2b"
      "ifi2 ifi2 ifi2 ifi2"
      "fi2a fi2a fi2b fi2b"
      "fi2c fi2c fi2d fi2d"
      "tx2c tx2c tx2c tx2c"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3a fi3b fi3b";
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  #blogpost1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "txt1 txt1 txt1 txt1"
      "cap2 cap2 cap2 cap2"
      "tx2a tx2a tx2a tx2a"
      "tx2b tx2b tx2b tx2b"
      "ifi2 ifi2 ifi2 ifi2"
      "fi2a fi2a fi2b fi2b"
      "fi2c fi2c fi2d fi2d"
      "tx2c tx2c tx2c tx2c"
      "tx2c tx2c tx2c tx2c"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3a fi3a fi3a"
      "fi3b fi3b fi3b fi3b";
  }
}

@media (min-width: 901px) {
  #blogpost1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "txt1 txt1 txt1 txt1"
      "cap2 cap2 cap2 cap2"
      "tx2a tx2a tx2a tx2a"
      "tx2b tx2b tx2b tx2b"
      "ifi2 ifi2 ifi2 ifi2"
      "fi2a fi2b fi2c fi2d"
      "tx2c tx2c tx2c tx2c"
      "tx2c tx2c tx2c tx2c"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3a fi3b fi3b";
    /*       "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "txt1 txt1 txt1 txt1"
      "cap2 cap2 cap2 cap2"
      "tx2a tx2a tx2a tx2a"
      "tx2b tx2b tx2b tx2b"
      "ifi2 ifi2 ifi2 ifi2"
      "fi2a fi2b fi2c fi2d"
      "tx2c tx2c tx2c tx2c"
      "tx2c tx2c tx2c tx2c"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3b fi3c fi3d"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3a fi3b fi3b"; */
  }
}

#blog1-intro {
  grid-area: intr;
}
#blog1_caption1 {
  grid-area: cap1;
}
#blog1_txt1 {
  grid-area: txt1;
}

#blog1_caption2 {
  grid-area: cap2;
}
#blog1_txt2a {
  grid-area: tx2a;
}
#blog1_txt2b {
  grid-area: tx2b;
}
#blog1_introfig2 {
  grid-area: ifi2;
}
#blog1_figure2a {
  grid-area: fi2a;
}
#blog1_figure2b {
  grid-area: fi2b;
}
#blog1_figure2c {
  grid-area: fi2c;
}
#blog1_figure2d {
  grid-area: fi2d;
}
#blog1_txt2c {
  grid-area: tx2c;
}

#blog1_caption3 {
  grid-area: cap3;
}
#blog1_txt3 {
  grid-area: txt3;
}
#blog1_figure3a {
  grid-area: fi3a;
}
#blog1_figure3b {
  grid-area: fi3b;
}

.menulistitem {
  list-style-type: upper-roman;
}

/* "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "txt1 txt1 txt1 txt1"
      "cap2 cap2 cap2 cap2"
      "tx2a tx2a tx2a tx2a"
      "tx2b tx2b tx2b tx2b"
      "tx2c tx2c tx2c tx2c"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3a fi3a fi3a"
      "fi3b fi3b fi3b fi3b"
      "fi3c fi3c fi3c fi3c"
      "fi3d fi3d fi3d fi3d"
      "cap4 cap4 cap4 cap4"
      "fi4a fi4a fi4a fi4a"
      "fi4b fi4b fi4b fi4b"
      "txt4 txt4 txt4 txt4"
      "cap5 cap5 cap5 cap5"
      "txt5 txt5 txt5 txt5"; */

/*       "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "txt1 txt1 txt1 txt1"
      "cap2 cap2 cap2 cap2"
      "tx2a tx2a tx2a tx2a"
      "tx2b tx2b tx2b tx2b"
      "tx2c tx2c tx2c tx2c"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3a fi3b fi3b"
      "fi3c fi3c fi3d fi3d"
      "cap4 cap4 cap4 cap4"
      "fi4a fi4a fi4a fi4a"
      "fi4b fi4b fi4b fi4b"
      "txt4 txt4 txt4 txt4"
      "cap5 cap5 cap5 cap5"
      "txt5 txt5 txt5 txt5"; */

/* "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "txt1 txt1 txt1 txt1"
      "cap2 cap2 cap2 cap2"
      "tx2a tx2a tx2a tx2a"
      "tx2b tx2b tx2b tx2b"
      "tx2c tx2c tx2c tx2c"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3a fi3b fi3b"
      "fi3c fi3c fi3d fi3d"
      "cap4 cap4 cap4 cap4"
      "fi4a fi4a fi4a fi4a"
      "fi4b fi4b fi4b fi4b"
      "txt4 txt4 txt4 txt4"
      "cap5 cap5 cap5 cap5"
      "txt5 txt5 txt5 txt5"; */
