.infoandcontact {
  display: flex;
  flex-direction: column;
}

.authorinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.figure-author {
  width: 100%;
}

.author-image {
  width: 100%;
  height: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.share {
  display: flex;
  flex-direction: column;
}

.share-icon {
  width: 30px;
  height: 30px;
  margin: 0.5rem 0rem;
}

.share-btns {
  display: flex;
  flex-direction: row;
  /*Set column-gap to icon-Width/2*/
  column-gap: 15px;
}
