.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 10px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
/* .card-container {
  padding: 10px;
} */
.card-container {
  padding: 2px 16px;
}
.card-link {
  text-decoration: none;
}
.card-text {
  text-align: justify;
}
