.blogpost {
  padding: 2rem;
}

.infoandcontact {
  padding: 2rem;
}

.blog-author {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: nowrap;
  align-items: center;
}

.author-icon {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  border-radius: 50%;
}

.blogimg {
  width: 100%;
  height: auto;
}

blockquote {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-style: italic;
}

@media (max-width: 320px) {
  .blogpost {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "fig1 fig1 txt1 txt1"
      "fig2 fig2 txt2 txt2"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3b fi3c fi3d"
      "cap4 cap4 cap4 cap4"
      "fi4a fi4a fi4b fi4b"
      "txt4 txt4 txt4 txt4"
      "cap5 cap5 cap5 cap5"
      "txt5 txt5 txt5 txt5";
  }
}
@media (min-width: 901px) {
  .blogpost {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "fig1 fig1 txt1 txt1"
      "fig2 fig2 txt2 txt2"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3b fi3c fi3d"
      "cap4 cap4 cap4 cap4"
      "fi4a fi4a fi4b fi4b"
      "txt4 txt4 txt4 txt4"
      "cap5 cap5 cap5 cap5"
      "txt5 txt5 txt5 txt5";
  }
}
@media (min-width: 600px) and (max-width: 900px) {
  .blogpost {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "intr intr intr intr"
      "cap1 cap1 cap1 cap1"
      "fig1 fig1 txt1 txt1"
      "fig2 fig2 txt2 txt2"
      "cap3 cap3 cap3 cap3"
      "txt3 txt3 txt3 txt3"
      "fi3a fi3b fi3c fi3d"
      "cap4 cap4 cap4 cap4"
      "fi4a fi4a fi4b fi4b"
      "txt4 txt4 txt4 txt4"
      "cap5 cap5 cap5 cap5"
      "txt5 txt5 txt5 txt5";
  }
}

.blog-intro {
  grid-area: intr;
}

#blog3_caption1 {
  grid-area: cap1;
}
#blog3_figure1 {
  grid-area: fig1;
}
#blog3_txt1 {
  grid-area: txt1;
}
#blog3_figure2 {
  grid-area: fig2;
}
#blog3_txt2 {
  grid-area: txt2;
}

#blog3_caption3 {
  grid-area: cap3;
}
#blog3_txt3 {
  grid-area: txt3;
}
#blog3_figure3a {
  grid-area: fi3a;
}
#blog3_figure3b {
  grid-area: fi3b;
}
#blog3_figure3c {
  grid-area: fi3c;
}
#blog3_figure3d {
  grid-area: fi3d;
}

#blog3_caption4 {
  grid-area: cap4;
}
#blog3_figure4a {
  grid-area: fi4a;
}
#blog3_figure4b {
  grid-area: fi4b;
}
#blog3_txt4 {
  grid-area: txt4;
}

#blog3_caption5 {
  grid-area: cap5;
}
#blog3_txt5 {
  grid-area: txt5;
}
