/* main layout testing*/
/* 
* {
  border: 1px solid orangered !important;
} */

/* main layout */
#container_mainpage {
  display: grid;
  grid-template-columns: 200px repeat(5, minmax(100px, 1fr));
  grid-template-rows: minmax(100px, 2fr) 4fr minmax(100px, 1fr);
  grid-template-areas:
    "hdr hdr hdr hdr hdr hdr"
    "nav cnt cnt cnt cnt cnt"
    "ftr ftr ftr ftr ftr ftr";
}
#header_mainpage {
  grid-area: hdr;
}
#nav_mainpage {
  grid-area: nav;
}
#content_mainpage {
  grid-area: cnt;
}
#footer_mainpage {
  grid-area: ftr;
}
