#container_mainpage {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: minmax(100px, 2fr) auto auto minmax(100px, 1fr);
  grid-template-areas:
    "hdr"
    "nav"
    "cnt"
    "ftr";
}
/*slightly different layout for wide screens*/
@media screen and (min-width: 901px) {
  #content_mainpage {
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "hdr hdr hdr hdr hdr hdr hdr hdr"
      "nav nav nav nav nav nav nav nav"
      " .  cnt cnt cnt cnt cnt cnt  . "
      "ftr ftr ftr ftr ftr ftr ftr ftr";
  }
}

#header_mainpage {
  grid-area: hdr;
}
#nav_mainpage {
  grid-area: nav;
}
#content_mainpage {
  grid-area: cnt;
}
#footer_mainpage {
  grid-area: ftr;
}
