.pageheader {
  grid-area: hdr;
}

.navbar {
  grid-area: nav;
}

.blogpost {
  grid-area: blg;
}

.infoandcontact {
  grid-area: inf;
}

.footer_blogpage {
  grid-area: ftr;
}

@media (max-width: 320px) {
  .container_blogpage {
    grid-template-rows: minmax(100px, 2fr) auto auto auto minmax(100px, 1fr);
    grid-template-areas:
      "hdr"
      "nav"
      "blg"
      "inf"
      "ftr";
  }
  .infoandcontact {
    border-top: 2px solid #bbb;
    border: none;
  }
}

@media (min-width: 901px) {
  .container_blogpage {
    display: grid;
    grid-template-columns: repeat(5, minmax(80, 1fr)); /*repeat(4, 1fr);*/
    grid-template-rows: minmax(100px, 2fr) auto 6fr minmax(100px, 1fr);
    grid-template-areas:
      "hdr hdr hdr hdr hdr"
      "nav nav nav nav nav"
      "blg blg blg blg inf"
      "ftr ftr ftr ftr ftr";
  }
  .infoandcontact {
    border-top: none;
    border-left: 2px solid #bbb;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .container_blogpage {
    display: grid;
    grid-template-columns: repeat(4, minmax(80, 1fr)); /*repeat(4, 1fr);*/
    grid-template-rows: minmax(100px, 2fr) auto 6fr minmax(100px, 1fr);
    grid-template-areas:
      "hdr hdr hdr hdr"
      "nav nav nav nav"
      "blg blg blg inf"
      "ftr ftr ftr ftr";
  }
  .infoandcontact {
    border-top: none;
    border-left: 2px solid #bbb;
  }
}
