.blogpost {
  padding: 2rem;
}

.infoandcontact {
  padding: 2rem;
}

.blog-intro {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
}

.blog-author {
  display: flex;
  flex-direction: row;
  text-align: left;
  flex-wrap: nowrap;
  align-items: center;
}

.author-icon {
  width: 50px;
  height: 50px;
  padding-right: 10px;
  border-radius: 50%;
}

.blogimg {
  width: 100%;
  height: auto;
}

blockquote {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-style: italic;
}
