/* #footer_mainpage {
  footer color is 25% lighter than navbar color
  background-color: #666;
}*/

/* .footer_blogpage {
  background-color: #666;
  color: "white";
} */
footer {
  background-color: #666;
  color: "white";
}
